@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  text-align: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding:9px;
  border-width: 80px;
  background: #eee;
 
  
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  display:flex;
  flex-direction: row;
  margin-left: 83px;
}

.header
{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  
}

.left-links
{
  display:flex;
  flex-direction: row;
  gap: 16px;
}

.right-links
{
  display:flex;
  flex-direction: row;
  gap:16px;
  margin-right: 40px;
}

.lol

{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 170px;
  text-decoration: none;
} 


.footer
{
  background-color:#eeeeee;
  display:flex;
  flex-direction: row;
  margin-bottom: auto;
  margin-top: 220px;
  gap:1520px;
}

ul {
  list-style-type: none;
  text-decoration: none;
  color:rgb(99, 99, 99);
  
}
